project:
  type: website
  output-dir: docs

website:
  title: "Colleen Hoskins"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - projects.qmd
      - data_science.qmd
      - text: Resume
        href: media/HoskinsC_Resume.pdf

format:
  html:
    theme: 
      light: yeti
      dark: darkly
    css: styles.css
    toc: true
    page-layout: full

editor: visual




