/* Set navbar links to be white */
.navbar .nav-link {
  color: white !important;
}

.navbar .nav-link:visited {
  color: white !important;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .nav-link:active {
  color: white !important;
}